@font-face {
    font-family: WoodFoordBold;
    src: url(../fonts/WoodfordBournePRO-Bold.otf);
}
@font-face {
    font-family: WoodFoorNormal;
    src: url(../fonts/WoodfordBournePRO-Regular.otf);
}
body{

    background: url("../img/PORTRE.png")no-repeat ;
    background-position-y:0 ;
    background-position-x:100% ;
    font-family: WoodFoordBold;
}

.menus{


}
.topHead{
    margin: 0;
    margin-top: 35px;
    padding: 0;
    width: 100%;
}
.menuHeader, .locale{
    margin: 0;
    padding: 0;
    height: 56px !important;
}
.logo{
    margin: 0;
    padding: 0;
}
.titleSite{
    height: 70px;
    padding-top: 10px;
    padding-right: 10px;
    background: #000000;
    color: white;
    text-align: center;
}
.siteTitle{

    font-size: 16pt;
}

.bg-light{
    background: none !important;
}
.lang{
    height: 40px;
    text-align: center;
    line-height: 45px;
    background: white;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-family: WoodFoorNormal;
}


@media screen and (min-width: 768px)  {
    .titleSite{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .lang{
        border-radius:10px;
    }
    .siteSpot{
        font-size: 11px;
    }
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
    .titleSite{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}
/*Tablet */
@media screen and (max-width: 768px)  {
    .titleSite{
        width: 100%;
    }
    .siteSpot{
        font-size: 10px;
    }
}


/* Mobile */

@media screen and (max-width: 500px) and (min-width: 320px) {
    body{
        background: none;
    }
}


